*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 12px -10px grey;
    width: 100%;
}
a{
    color: inherit;
    text-decoration: none;
}

nav .main-link:hover{
    color:#1e6106;
    background-color: #DAFFCC;
}
.img-nav{
    width: 24px;
    height: 28px;
    margin-left: 25px;
}
.three-nav{
    margin-left: 10%;
    display: flex;
    justify-content: start;
}
.orders-button,
.products-button,
.users-button{
    padding: 0 25px;
    letter-spacing: 1px;
}
.logout-button{
    position: absolute;
    right: 50px;
    color: grey;
    cursor: pointer;
}

/* body part =-------------------------------------------------- */
.main-section{
    width: 90%;
    margin: 0 auto;
}
.product-text{
    margin-top: 20px;
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 900;
}
.heading-product{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.filter{
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 500;
}
.filter input{
    cursor: pointer;
}
.expired-filter,
.low-stock-filter {
    padding: 10px 10px;
    min-width: 150px;
}

.section-product{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.all-the-record{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main-card{
    display: flex;
    justify-content: space-around;
    margin: 3px 0;
    background-color: #DAFFCC;
    width: 100%;
}
.id-heading-product{
    width: 125px;
}
.expiry-date-heading-product{
    width: 125px;
}
.unit-price-heading-product{
    width: 125px;
}
.stock-heading-product{
    width: 125px;
}
.product-brand-heading-product{
    width: 125px;
}

.product-name-heading-product{
    width: 150px;
}
.id-product{
    width: 125px;
}
.product-name{
    width: 150px;
    
}
.product-brand{
    width: 125px;
    
}
.expiry-date{
    width: 125px;
    
}
.unit-price{
    width: 125px;
    
}

.stock{
    width: 125px;
    
}